<section class="util_pc section list_slider" id="feature">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
                <img class="util_pc" src="assets/img/top/pc/feature.png" alt="">
                <img class="util_sp" src="assets/img/top/sp/FEATURE.png" alt="">
            </div>
            <span>特集</span>
        </div>
        <div class="feature_index">
            <div class="feature_item">
                <a href="#">
                    <div class="item_thumbnail">
                        <img src="assets/img/top/pc/banner_feature.png" alt="">
                    </div>
                </a>
            </div>
            <div class="feature_item">
                <a href="#">
                    <div class="item_thumbnail">
                        <img src="assets/img/top/pc/banner_feature-1.png" alt="">
                    </div>
                </a>
            </div>
            <div class="feature_item">
                <a href="#">
                    <div class="item_thumbnail">
                        <img src="assets/img/top/pc/banner_feature-2.png" alt="">
                    </div>
                </a>
            </div>
            <div class="feature_item">
                <a href="#">
                    <div class="item_thumbnail">
                        <img src="assets/img/top/pc/banner_feature-3.png" alt="">
                    </div>
                </a>
            </div>
            <div class="feature_item">
                <a href="#">
                    <div class="item_thumbnail">
                        <img src="assets/img/top/pc/banner_feature-4.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bg_feature"></div>
</section>

{% schema %}
{
  "name": "t:sections.featured_collection.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured_collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured_collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured_collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured_collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured_collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured_collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured_collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured_collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured_collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured_collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured_collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured_collection.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured_collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured_collection.settings.show_rating.label",
      "info": "t:sections.featured_collection.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection.presets.name"
    }
  ]
}
{% endschema %}
